body {
  background-color: black;
}


img {
  text-align: center;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: auto;
  border-radius: 60%;
}

#contents {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#intro {
  color: white;
  text-align: center;
}

.section1 {
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}


.section2 {
  background-color: black;
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}


.section3 {
  background-color: black;
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}

