body {
  /*background: linear-gradient(black, #303030);*/
  font-family: system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  padding-left: 15px;

}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}



/*img {
  text-align: center;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: auto;
  border-radius: 60%;
}

#contents {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#intro {
  color: white;
  text-align: center;
}

.section1 {
  background: linear-gradient(black,#181818);
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}

.section2 {
  background: linear-gradient(#181818, #202020);
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}


.section3 {
  background: linear-gradient(#202020, #303030);
  text-align: center;
  color: white;
  min-height: 100%;
  width: 100%;
}*/
